{% extends "template.html" %}
{% block conteudo %}
<div class="form-group">
	<a href="{{url_for('index')}}" class="btn btn-warning btn-lg"><i class="fas fa-arrow-circle-left"></i> Voltar</a>
	<button class="btn btn-danger btn-lg" id="btn-refresh"><i class="fas fa-sync-alt"></i> Nova Randomização</button>
</div>

{% for time in times %}
<section>
	<div class="form-group">
		<input type="text" name="" class="form-control input-composit">
	</div>
	<div class="form-group div-composit div-foto-{{ time.numero_time }}" style="background-image: url('/static/{{ background[time.numero_time] }}.jpg'); text-align: center; background-size: 15%;">
		{% for krosmaster in time.krosmasters %}
		<img src="/static/{{ krosmaster['nome'] }}.png" class="img-composit" alt="{{ krosmaster['nome'] }}">
		{% endfor %}
		<br>
		<p class="p-time"></p>
	</div>
</section>
<div class="form-group">
	<button class="btn btn-info btn-lg btn-equipe"><i class="fas fa-table"></i></button>
	<button class="btn btn-success btn-lg btn-foto" value="{{ time.numero_time }}"><i class="fas fa-camera"></i></button>
	<div class="div-img-foto-{{ time.numero_time }}"></div>
	<table class="table table-equipe">
		<tr>
			<th class="table-dark">nome</th>
			<th class="table-dark">nivel</th>
		</tr>
		{% for krosmaster in time.krosmasters %}
		<tr>
			<td>{{ krosmaster['nome'] }}</td>
			<td>{{ krosmaster['nivel'] }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endfor %}


<div class="alert alert-dismissible alert-success">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<i class="fas fa-lightbulb"></i>
	<u>Copie</u> e <u>salve o código abaixo em um bloco de notas</u> para evitar preencher o formulário novamente quando revisitar o site.
	<div class="form-group">
		<input type="text" name="codigo_clip" style="width: 100%;" id="codigo_clip" value="{{ codigo }}">
		<button class="btn btn-success btn-lg" id="btn-copy"><i class="fas fa-barcode"></i> Copy</button>
	</div>
</div>

<div class="form-group">
	<button class="btn btn-info btn-lg" id="btn-auditoria-div"><i class="fas fa-terminal"></i> Auditoria</button>
</div>

<div class="auditoria-div">
	<ul type="square" style="padding-left:  25px;">
		{% for msg in auditoria %}
		<li>{{ msg }}</li>
		{% endfor %}
	</ul>
</div>
<div id="img-out"></div>
<script src="{{url_for('static', filename='html2canvas.js')}}"></script>
<script src="{{url_for('static', filename='equipe.js')}}"></script>
{% endblock %}
