{% extends "template.html" %}
{% block conteudo %}
<button class="btn-outline-success btn-lg btn-block" id="btn-bash-div"><i class="fas fa-barcode"></i> Bash Randomaster</button>
<div class="bash-div">
	<form class="form" class="form" action="{{ url_for('equipe') }}" method="post">
		<div class="form-group">
			<label for="classificacao">Quantidade de times</label>
			<select class="form-control" id="classificacao" name="classificacao">
				<option value="um">&#9733</option>
				<option value="dois">&#9733 &#9733</option>
				<option value="tres">&#9733 &#9733 &#9733</option>
				<option value="season">Season</option>
			</select>
		</div>
		<div class="form-group">
			<label for="qtd_times_um">Quantidade de times</label>
			<select class="form-control" id="qtd_times_um" name="qtd_times">
				<option value="1">1</option>
				<option value="2" selected>2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select>
		</div>
		<div class="form-group">
			<label class="col-form-label">Bash</label>
			<input type="text" name="input_codigo" class="form-control" placeholder="Cole aqui o código da sua coleção" id="codigo_clip" value="gui_yermetel,oscar_nyo,merty_olat,rib_ombar,merkator,gui_yermetel,oscar_nyo,merty_olat,rib_ombar,merkator">
			<small>Exemplo: guy_yermetel,oscar_nyo,merty_olat,makum_bah,oscar_nyo</small>
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-success"><i class="fas fa-check-square"></i> Enviar Bash</button>
		</div>
	</form>
</div>
<hr>
<button class="btn-outline-success btn-lg btn-block" id="btn-form-div"><i class="far fa-minus-square"></i> <i class="far fa-plus-square"></i> Formulário Randomaster</button>
<div class="form-div">
	<form class="form" action="{{ url_for('equipe') }}" method="post">
		<div class="form-group">
			<label for="classificacao">Quantidade de times</label>
			<select class="form-control" id="classificacao" name="classificacao">
				<option value="um">&#9733</option>
				<option value="dois">&#9733 &#9733</option>
				<option value="tres">&#9733 &#9733 &#9733</option>
				<option value="season">Season</option>
			</select>
		</div>
		<div class="form-group">
			<label for="qtd_times_um">Quantidade de times</label>
			<select class="form-control" id="qtd_times_um" name="qtd_times">
				<option value="1">1</option>
				<option value="2" selected>2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select>
		</div>
		{% for content in contents %}
		<div class="custom-control custom-checkbox personagem-div card" style="max-width: 20rem;">
			<div class="nome_class" style="display: none">{{ content['nome_class'] }}</div>
			<div class="nome">{{ content['nome'] }} (<span class="{{ content['nome_class'] }}_total">0</span>)</div>
			<a href="" class="btn-outline-danger gridBotoes rem"><i class="fas fa-minus-square"></i></a>

			<div class="gridImg">
				<img src="/static/{{ content['nome'] }}.png" alt="{{ content['nome'] }}">
			</div>
			<a href="" class="btn-outline-success gridBotoes add"><i class="fas fa-plus-square"></i></a>
		</div>
		{% endfor %}
		<input style="visibility: hidden;" type="text" name="input_codigo" id="input_codigo" value="">

		<div class="form-group">
			<button type="submit" class="btn btn-success"><i class="fas fa-check-square"></i> Enviar Formulário</button>
		</div>
	</form>
</div>

<script src="{{url_for('static', filename='randomaster_form.js')}}"></script>
{% endblock %}